.container {
  position: relative;
  left: $sideBarWidth;
  width: calc(100% - #{$sideBarWidth});
  top: $headerHeight;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});

  background-color: $contentBgColor;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: $footerHeight;

  z-index: $contentZIndex;

  flex-direction: column;
}

.section {
  position: relative;
  display: block;
  margin-left: 0px;
  margin-right: 0px;

  div {
    display: block;
    text-align: center;
    margin: 25px 0px;

    .section-title {
      color: white;
      letter-spacing: 0.82px;
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
      line-height: 1.7;
    }

    .routable {
      cursor: pointer;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: rgb(9, 222, 110);
        }
      }
    }
  }
}

.routable-section {
}

.content-section {
}

.carousel {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.carousal-banner {
  position: relative;
  padding: 20px 0px;
  background-clip: content-box;

  img {
    width: 100%;
  }

  .prev {
    position: absolute;
    width: 100px;
    top: 20px;
    bottom: 33px;
    background-image: linear-gradient(
      to left,
      transparent,
      rgba($color: transparent, $alpha: 0.9)
    );
    z-index: $overlayZIndex;
    text-align: center;

    button {
      background-color: transparent;
      color: white;
      border: 0px;
      height: 100%;
      width: 100%;
      font-size: 28px;
      cursor: pointer;
    }
    button:focus {
      outline: 0;
    }
  }

  .next {
    position: absolute;
    width: 100px;
    top: 20px;
    bottom: 33px;
    right: 0px;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba($color: #000000, $alpha: 0.9)
    );
    z-index: $overlayZIndex;
    margin: 0px 0px;
    text-align: center;

    button {
      background-color: transparent;
      color: white;
      border: 0px;
      height: 100%;
      width: 100%;
      font-size: 28px;
      cursor: pointer;
    }
    button:focus {
      outline: 0;
    }
  }

  .dots {
    position: relative;
    z-index: $overlayZIndex;
    bottom: 24px;

    .BrainhubCarousel__dot {
      padding: 3px;
    }

    .BrainhubCarousel__dot:before {
      background: white;
      width: 8px;
      height: 8px;
    }

    .BrainhubCarousel__dot--selected {
      color: white;
    }
  }
}

.carousel-song-column {
  height: 160px;
  //background-color: greenyellow;

  .BrainhubCarousel__trackContainer {
    margin: 0px;
  }

  .song-column-container {
    margin: 0px;
    height: 222px;

    display: flex;
    flex-direction: row;

    .image-holder {
      margin: 0px;

      img {
        margin: 0px;
        height: 160px;
      }
    }

    .desc-container {
      background-color: indigo;
      height: 160px;
      width: 216px;
      margin: 0px 17px 0px 0px;

      a {
        font-size: 0.875rem;
        color: #bcbcbc;
        cursor: pointer;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        display: block;
        line-height: 22px;
        max-height: 43px;
        overflow: hidden;
        margin: 2px 0px;
        text-decoration: none;
      }
    }
  }
}

.carousel-medium {
  padding: 0px;
  height: 120px;
  background-color: navy;
}

.carousel-artist {
  height: 222px;
  background-color: transparent;

  .BrainhubCarousel__trackContainer {
    margin: 0px;
  }

  .artist-container {
    margin: 0px;
    height: 222px;

    img {
      margin: 0px;
      height: 169px;
    }

    a {
      font-size: 0.875rem;
      color: #bcbcbc;
      cursor: pointer;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      display: block;
      line-height: 22px;
      max-height: 43px;
      overflow: hidden;
      margin: 2px 0px;
      text-decoration: none;
    }
  }
}

.button-panel {
  height: 100px;
}

.button-panel-genre {
  flex-direction: row;
  height: calc(100vw * 0.12);

  .button-genre {
    position: relative;
    float: left;
    width: calc((100% / 3) - (6px * 2));
    height: 100%;
    margin: 0px 6px;
    box-sizing: border-box;
    cursor: pointer;

    .bg-content {
      width: 100%;
      height: 100%;
      margin: 0px;

      img {
        width: 100%;
        height: 100%;
        margin: 0px;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        top: 0px;

        background-image: linear-gradient(
          to bottom,
          transparent 10%,
          rgba($color: transparent, $alpha: 0.65) 70%,
          rgba($color: transparent, $alpha: 0.8) 100%
        );
      }
    }

    &:hover {
      .link-holder {
        a {
          color: rgb(9, 222, 110);
        }
      }
    }

    .link-holder {
      position: absolute;
      margin: 0px;
      width: 100%;
      bottom: 14px;

      a {
        color: white;
        text-decoration: none;

        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.button-panel-music-list {
  //background-color: yellowgreen;
  flex-direction: row;
  height: calc(100vw * 0.14);
  //margin-bottom: 24px;
  padding-bottom: 64px;

  .button-music-list {
    float: left;
    //background-color: gray;
    width: calc((100% / 6) - (6px * 2));
    height: 100%;
    margin: 0px 6px;
    box-sizing: border-box;
    cursor: pointer;

    img {
      height: 100%;
      //width: 100%;
    }

    .link-holder {
      position: relative;
      margin: 0px;
      width: 100%;
      height: auto;

      a {
        color: #bcbcbc;
        text-decoration: none;
        &:hover {
          color: rgb(9, 222, 110);
        }
      }
    }
  }
}

.expander {
  height: 46px;
  min-height: 66px;
  border-top: 1px solid rgb(55, 55, 55);

  div {
    margin-bottom: 20px;
    text-align: center;
    button {
      height: 16px;
      font-size: 0.875rem;
      color: rgb(149, 149, 149);
      letter-spacing: 0.52px;
      cursor: pointer;
      background: transparent;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      outline: 0px;
      padding: 15px 5px;
      transition: color 0.2s ease 0s;

      .fa {
        font-size: 20px;
      }
    }
  }
}

.sitemap {
  width: 100%;
  height: auto;
  //background-color: gray;

  table {
    width: 100%;
    display: table;
    margin-bottom: 80px;

    td {
      vertical-align: top;
      padding: 0px 10px 0px 6px;
    }

    .sitemap-item {
      margin: 0px;

      h1 {
        font-size: 14px;
        text-align: left;
      }

      p {
        color: #959595;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}
