.container {
  position: relative;
  left: $sideBarWidth;
  width: calc(100% - #{$sideBarWidth});
  top: $headerHeight;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});

  background-color: $contentBgColor;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: $footerHeight;

  z-index: $contentZIndex;

  flex-direction: column;
}

.section {
  position: relative;
  display: block;
  margin-left: 0px;
  margin-right: 0px;

  div {
    display: block;
    text-align: center;
    margin: 25px 0px;

    .section-title {
      color: white;
      letter-spacing: 0.82px;
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
      line-height: 1.7;
    }

    .routable {
      cursor: pointer;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: rgb(9, 222, 110);
        }
      }
    }
  }
}

.routable-section {
}

.content-section {
}

.carousel {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.carousal-banner {
  position: relative;
  padding: 20px 0px;
  //background-color: mediumorchid;
  background-clip: content-box;

  .carousel-image {
    width: 100%;
  }
}

.carousel-large {
  height: 160px;
  background-color: mediumseagreen;
}

.carousel-medium {
  padding: 0px;
  height: 120px;
  background-color: navy;
}

.carousel-artist {
  height: 222px;
  background-color: olivedrab;
}

.button-panel {
  height: 100px;
}

.button-panel-large {
  background-color: yellow;
}

.button-panel-medium {
  background-color: yellowgreen;
}

.expander {
  height: 46px;
  min-height: 66px;
  border-top: 1px solid rgb(55, 55, 55);

  div {
    margin-bottom: 20px;
    text-align: center;
    button {
      height: 16px;
      font-size: 0.875rem;
      color: rgb(149, 149, 149);
      letter-spacing: 0.52px;
      cursor: pointer;
      background: transparent;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      outline: 0px;
      padding: 15px 5px;
      transition: color 0.2s ease 0s;
    }
  }
}

.sitemap {
  height: 300px;
  background-color: gray;
}
