$headerHeight: 58px;
$footerHeight: 55px;
$sideBarWidth: 65px;

$headerZIndex: 3000;
$footerZIndex: 3000;
$sideBarZIndex: 3000;
$contentZIndex: 1000;

// Background color
$bodyBgColor: #222222;
$contentBgColor: #222222;
$headerBgColor: #111111;
$footerBgColor: #101010;
$sideBarBgColor: #101010;
