header {
  position: fixed;
  width: 100%;
  height: $headerHeight;
  top: 0px;
  background-color: $headerBgColor;
  z-index: $headerZIndex;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 24px;
  box-sizing: border-box;
}

.side-bar {
  position: fixed;
  top: $headerHeight;
  left: 0px;
  width: $sideBarWidth;
  bottom: $footerHeight;
  background-color: $sideBarBgColor;
  box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2);
  z-index: $sideBarZIndex;
}

footer {
  position: fixed;
  width: 100%;
  height: $footerHeight;
  bottom: 0px;
  background-color: $footerBgColor;
  z-index: $footerZIndex;
}
