header {
  position: fixed;
  width: 100%;
  height: $headerHeight;
  top: 0px;
  background-color: $headerBgColor;
  z-index: $headerZIndex;
}

footer {
  position: fixed;
  width: 100%;
  height: $footerHeight;
  bottom: 0px;
  background-color: $footerBgColor;
  z-index: $footerZIndex;
}

.side-bar {
  position: fixed;
  top: $headerHeight;
  left: 0px;
  width: $sideBarWidth;
  bottom: $footerHeight;
  background-color: $sideBarBgColor;

  z-index: $sideBarZIndex;
}
