/* Header and footer */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;

  background-color: lightgray;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;

  background-color: lightgray;
  text-align: center;
}

/* Content */
$mobile-width-extra-small: 480px;
$mobile-width-small: 768px;
$mobile-width-medium: 992px;
$mobile-width-large: 1200px;
$mobile-width: $mobile-width-extra-small;

$description-width: 60%;
$login-box-width: 100% - $description-width;

.container {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;

  .title {
    width: 100%;

    h1 {
      font-size: 28px;
    }
  }

  .inner-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    @media (max-width: $mobile-width) {
      flex-direction: column;
    }

    .description {
      float: left;
      width: $description-width;
      margin: 10px;
      order: 1;

      @media (max-width: $mobile-width) {
        width: 100%;
        order: 2;
      }

      h1 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
    }

    .login-box {
      width: $login-box-width;
      float: left;
      order: 2;

      @media (max-width: $mobile-width) {
        width: 100%;
        order: 1;
      }

      .tab-list {
        border-bottom: 1px solid #ccc;
        padding-left: 0;
      }

      .tab-list-item {
        display: inline-block;
        list-style: none;
        margin-bottom: -1px;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
      }

      .tab-list-active {
        background-color: white;
        border: solid #ccc;
        border-width: 1px 1px 0 1px;
      }

      .login-form {
        width: 100%;

        .login-element {
          display: inline-block;
          width: 100%;
        }

        label {
          font-size: 13px;
          font-weight: bold;
        }

        a {
          font-size: 16px;
          float: right !important;
          color: #1b69b6;
          text-decoration: none;
          font-size: 13px;
        }

        input {
          background-color: #45a049;
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}
